# Node.js
node_modules/
.env
.env.local
.env.development
.env.production

# Build output
build/
dist/

# Firebase
firebase-debug.log
firebase.json
firestore.indexes.json
firestore.rules

# OS + IDE cruft
.DS_Store
.vscode/
*.log

# MacOS & system files
*.swp
Thumbs.db

# Google Cloud SDK (to prevent giant files from getting committed again)
google-cloud-sdk/

# Optional Vercel/Netlify local build settings
.vercel/
.netlify/

# Cache
.cache/