# dependencies
node_modules/

# build output
dist/
build/

# misc
.DS_Store
.env
*.log
firebase-debug.log

# Firebase
google-cloud-sdk/
serviceAccountKey.json

# local git repo backups
*.orig
*.bak

# IDEs
.vscode/
.idea/